<div class="jr-pagination-wrap">
    <div class="clearfix jr-pagination">
        <ul uib-pagination total-items="totalItems" ng-model="page"
            items-per-page="itemsPerPage" boundary-links="true" max-size="9"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
        </ul>
        <!--<div class="btn-group num-select" uib-dropdown is-open="status.isopen">-->
            <!--<button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>-->
                <!--{{itemsPerPage}}<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu"  uib-dropdown-menu role="menu" aria-labelledby="single-button">-->
                <!--<li role="menuitem" ng-repeat="num in itemsPerPageArr">-->
                    <!--<a href="javascript: void(0);" ng-click="changeItemNum(num)">{{num}}</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
</div>