<link rel="stylesheet" href="albumManagementAddVideo-v1.less?__inline" />
<div class="gh-create-item">
    <h5 class="pull-left gh-item-title">专辑管理>{{queryParams.albumName}}>添加视频</h5>

</div>
<div class="videoManagement_container">
    <div class="block clearfix">
        <form name="searchForm" novalidate ng-submit="search($event)">
            <div class="list-filter-col">
                <input type="text" class="form-control" ng-model="queryParams.userKey" style="width: 150px;" jr-placeholder="视频名称" />
            </div>
            <div class="list-filter-col">
                <input type="text" class="form-control" ng-model="queryParams.agentKey" jr-placeholder="视频ID" />
            </div>
            <!-- <div class="list-filter-col">
                <input type="text" class="form-control" ng-model="queryParams.companyKey" jr-placeholder="" />
            </div> -->
            <div class="list-filter-col">
                <jr-dropdown-button options="queryOptions.orderStatus" value="queryParams.orderStatus" class="w150"></jr-dropdown-button>
            </div>
            <div class="list-filter-col">
                <jr-datepicker placeholder="发布时间" time="queryParams.qingtuiStartTime" style="width: 140px;"></jr-datepicker>
            </div>
            <div class="list-filter-col text">
                到
            </div>
            <div class="list-filter-col">
                <jr-datepicker placeholder="发布时间" time="queryParams.qingtuiEndTime" style="width: 140px;"></jr-datepicker>
            </div>
            <div class="pos-rb">
                <div class="list-filter-col">
                    <button class="btn btn-primary" type="submit"><i class="icon icon-search"></i>查找</button>
                </div>
                <div class="list-filter-col">
                    <button class="btn btn-default" type="button" ng-click="clearParams()">清空查询项</button>
                </div>
            </div>
        </form>
    </div>
    <table class="table">
        <colgroup>
            <col width="40%">
            <col width="8%">
            <col width="8%">
            <col width="8%">
            <col width="10%">
            <col width="10%">
            <col width="16%">
        </colgroup>
        <thead>
            <tr>
                <th>基本信息</th>
                <th>时长</th>
                <th>状态</th>
                <th>分类</th>
                <th>上传时间</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="orders.infoList.length" ng-repeat="order in orders.infoList" ng-class="{1: 'red', 0: ''}[order.biaohong]">
                <td class="word-break">
                    <input type="checkbox" ng-click="acheck(order,!order.checked)" ng-checked="order.checked" class="icheckbox_square-blue" style="margin-right: 10px;">
                    <div class="video-item clearfix">
                        <div class="video-img pull-left">
                            <img src="http://i0.letvimg.com/lc08_yunzhuanma/201711/16/19/47/58803700a232c7ae2243f0c16d583428_v2_NDg5ODAwNDcw/thumb/2.jpg" height="70" width="125" alt="">
                        </div>
                        <dl class="video-detail">
                            <dt class="videoName" title="aaaaaaa">aaaaaaa</dt>
                            <dd>视频ID：47692245</dd>
                        </dl>
                    </div>
                </td>
                <td><span class="time">{{order.videoDuration}}</span></td>
                <td>{{order.statusName}}</td>
                <td>{{order.userCategory1Name||'无'}}</td>
                <td>{{order.addTime}}</td>
                <td><span class="time">{{order.completeTime}}</span></td>
                <td class="opt">
                    <a href="javascript:;" ng-click="editList($event,order)">添加</a>
                    <!-- <a href="javascript:;"  ng-click="deleteConfirm($event,order)" style="color: red;">删除</a> -->
                </td>
                <!--<td></td>-->
            </tr>
            <tr ng-if="orders.infoList.length">
                <td colspan="7">
                    <input type="checkbox" class="icheckbox_square-blue" style="margin-right: 10px;" ng-click="change(!allchecked)" ng-checked="allchecked">
                    <button class="btn btn-default" type="button" ng-click="publishall()">删除</button>
                </td>
            </tr>
            <tr ng-if="!orders.infoList.length">
                <td colspan="8" style="padding-left: 0px!important;">
                    <div class="text-center mt-40 mb-40">暂无数据</div>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination ng-if="orders.infoList.length" total-items="orders.totalCount" page="orders.pageNum" max-size="9"></pagination>
    <!--<ul jr-pagination total-items="orders.totalCount" page="orders.pageNum" items-per-page="orders.pageSize"></ul>-->
</div>