<link rel="stylesheet" href="albumManagement-v1.less?__inline" />
<div class="gh-create-item">
    <h5 class="pull-left gh-item-title">专辑管理</h5>
    <a class="pull-right gh-btn-title" id="openFileSelectBox" href="javascript:void(0);" ng-click="addAlbum()">
        <span class="add">+</span>
        <span class="text">新建专辑</span>
    </a>
</div>
<div class="videoManagement_container">
    <div class="block clearfix">
        <form name="searchForm" novalidate ng-submit="search($event)">
            <div class="list-filter-col">
                <input type="text" class="form-control" ng-model="queryParams.userKey" style="width: 150px;" jr-placeholder="专辑名称" />
            </div>
            <div class="list-filter-col">
                <input type="text" class="form-control" ng-model="queryParams.agentKey" jr-placeholder="专辑ID" />
            </div>
            <div class="list-filter-col">
                <jr-datepicker placeholder="发布时间" time="queryParams.qingtuiStartTime" style="width: 140px;"></jr-datepicker>
            </div>
            <div class="list-filter-col text">
                到
            </div>
            <div class="list-filter-col">
                <jr-datepicker placeholder="发布时间" time="queryParams.qingtuiEndTime" style="width: 140px;"></jr-datepicker>
            </div>
            <div class="pos-rb">
                <div class="list-filter-col">
                    <button class="btn btn-primary" type="submit"><i class="icon icon-search"></i>查找</button>
                </div>
                <div class="list-filter-col">
                    <button class="btn btn-default" type="button" ng-click="clearParams()">清空查询项</button>
                </div>
            </div>
        </form>
    </div>
    <table class="table">
        <colgroup>
            <col width="2%">
            <col width="9%">
            <col width="9%">
            <col width="10%">
            <col width="8%">
            <col width="22%">
            <col width="22%">
            <col width="18%">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>专辑ID</th>
                <th>专辑名称</th>
                <th>视频数量</th>
                <th>总时长</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="orders.infoList.length" ng-repeat="order in orders.infoList" ng-class="{1: 'red', 0: ''}[order.biaohong]">
                <td>
                    <input type="checkbox" ng-click="acheck(order,!order.checked)" ng-checked="order.checked" class="icheckbox_square-blue" style="margin-right: 10px;">
                </td>
                <td class="word-break">{{order.albumId}} </td>
                <td><span class="time">{{order.albumName}}</span></td>
                <td>{{order.videoSum}}</td>
                <td>{{order.videoDurations}}</td>
                <td>{{order.addTime}}</td>
                <td><span class="time">{{order.completeTime}}</span></td>
                <td class="opt">
                    <a ui-sref="albumManagementManage.list({albumId:{{order.albumId}},albumName:'{{order.albumName}}'})">管理</a><em>|</em>
                    <a href="javascript:;" ng-click="addAlbum()">编辑</a><em>|</em>
                    <a href="javascript:;" ng-click="deleteConfirm($event,order)" style="color: red;">删除</a>
                </td>
                <!--<td></td>-->
            </tr>
            <tr ng-if="orders.infoList.length">
                <td colspan="8">
                    <input type="checkbox" class="icheckbox_square-blue" style="margin-right: 10px;" ng-click="change(!allchecked)" ng-checked="allchecked">
                    <button class="btn btn-default" type="button" ng-click="publishall()">删除</button>
                </td>
            </tr>
            <tr ng-if="!orders.infoList.length">
                <td colspan="8" style="padding-left: 0px!important;">
                    <div class="text-center mt-40 mb-40">暂无数据</div>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination ng-if="orders.infoList.length" total-items="orders.totalCount" page="orders.pageNum" max-size="9"></pagination>
    <!--<ul jr-pagination total-items="orders.totalCount" page="orders.pageNum" items-per-page="orders.pageSize"></ul>-->
</div>