<tab id="record-tab" heading="通话记录" select="getCallRecord()">
    <div class="clearfix">
        <div class="col-md-7">
            <h4 class="record-tab-h4">{{callRecord.userName}}租客的通话记录</h4>
            <table class="table break-all marb">
                <colgroup>
                    <col width="60">
                    <col width="80">
                    <col width="70">
                    <col width="50">
                    <col width="100">
                    <col width="70">
                </colgroup>
                <thead>
                <tr>
                    <th ng-repeat="item in table1">{{item.name}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in callRecord.recordInfo1">
                    <td>{{item.agentName}}</td>
                    <td>{{item.briefName}}</td>
                    <td>{{item.agentPhone}}</td>
                    <td>{{item.callType}}</td>
                    <td>{{item.callDate}}</td>
                    <td>{{item.time}}</td>
                </tr>
                </tbody>
            </table>
            <h4 class="record-tab-h4">{{callRecord.userName}}租客的紧急联系人的通话记录</h4>
            <table class="table break-all marb">
                <colgroup>
                    <col width="60">
                    <col width="80">
                    <col width="70">
                    <col width="50">
                    <col width="100">
                    <col width="70">
                </colgroup>
                <thead>
                <tr>
                    <th ng-repeat="item in table1">{{item.name}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in callRecord.recordInfo2">
                    <td>{{item.agentName}}</td>
                    <td>{{item.briefName}}</td>
                    <td>{{item.agentPhone}}</td>
                    <td>{{item.callType}}</td>
                    <td>{{item.callDate}}</td>
                    <td>{{item.time}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-5">
            <h4 class="record-tab-h4">通讯录中有{{callRecord.userName}}租客的房管员</h4>
            <table class="table break-all marb">
                <thead>
                <tr>
                    <th ng-repeat="item in table2">{{item.name}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in callRecord.recordInfo3">
                    <td>{{item.agentName}}</td>
                    <td>{{item.briefName}}</td>
                    <td>{{item.agentPhone}}</td>
                    <td>{{item.contactName}}</td>
                </tr>
                </tbody>
            </table>
            <h4 class="record-tab-h4">通讯录中有{{callRecord.userName}}租客的紧急联系人的房管员</h4>
            <table class="table break-all marb">
                <thead>
                <tr>
                    <th ng-repeat="item in table2">{{item.name}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in callRecord.recordInfo4">
                    <td>{{item.agentName}}</td>
                    <td>{{item.briefName}}</td>
                    <td>{{item.agentPhone}}</td>
                    <td>{{item.contactName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</tab>