<tab heading="征信验证" id="riskWarning" select="creditInit()" disabled="applyInfo.checkStep < 2">
    <table class="table text-c break-all">
        <thead>
            <tr>
                <th>分类</th>
                <th>征信参数</th>
                <th>征信结果</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in credit.checkList" ng-class="{'active': item.checkResult==0 && item.dicItemGroup==101}">
                <td>{{item.fromOrg}}</td>
                <td>{{item.checkDesc}}</td>
                <td ng-class="{red: item.checkResult == '0'}">{{item.checkValueStr}}</td>
            </tr>
        </tbody>
    </table>
    <!-- <h4>征信验证批注</h4>
    <textarea class="form-control textarea" ng-readonly="credit.readOnly" ng-model="credit.checkRes.checkMemo" placeholder="备注" rows="5"></textarea>
    <div class="row text-c mt" ng-if="!credit.readOnly">
        <button class="btn btn-primary w-200" ng-click="creditSubmit(1)">通过</button>
        <button class="btn ml-l w-200" ng-click="creditSubmit(0)">不通过</button>
    </div> -->
</tab>