<tab heading="人工电话验真" select="manualTelInit()" class="manual-tel" disabled="applyInfo.checkStep < 4">
    <h4 ng-if="manualTel.checkRes.checkDesc">审核结果：<span ng-class="{green: manualTel.checkRes.checkResult == 1, red: manualTel.checkRes.checkResult == 2}">{{manualTel.checkRes.checkDesc}}</span></h4>
    <tabset class="tel-tab" ng-class="{'read-only': manualTel.readOnly}" id="manual-tel-tab">
        <tab heading="用户本身电话审核">
            <ul class="question-list" data-group="1">
                <li ng-repeat="item in manualTel.list1" class="item-question">
                    <h6>{{item.question}}</h6>
                    <p>答案：{{item.answer}}</p>
                    <div class="result mt">
                        <div class="result-select">
                            <div ng-class="{uncheck: item.checkResult != 1}"><label class="label-radio"><input type="radio" name="{{item.id}}" data-id="{{item.id}}" ng-disabled="manualTel.readOnly" ng-checked="item.checkResult == 1" value="1" />符合</label></div>
                            <div ng-class="{uncheck: item.checkResult != 0}"><label class="label-radio"><input type="radio" name="{{item.id}}" data-id="{{item.id}}" ng-disabled="manualTel.readOnly" ng-checked="item.checkResult == 0" value="0" />不符合</label></div>
                        </div>
                        <textarea name="" id="" class="result-comment" ng-readonly="manualTel.readOnly" placeholder="备注" cols="30" rows="10">{{item.checkReason}}</textarea>
                    </div>
                </li>
            </ul>
            <a class="question-add ml" ng-if="!manualTel.readOnly" ng-click="addQuestion($event)"><span class="glyphicon glyphicon-plus mr-s"></span>增加新问题</a>
        </tab>
        <tab heading="租房房东电话审核">
            <ul class="question-list" data-group="2">
                <li ng-repeat="item in manualTel.list2" class="item-question">
                    <h6>{{item.question}}</h6>
                    <p>答案：{{item.answer}}</p>
                    <div class="result mt">
                        <div class="result-select">
                            <div ng-class="{uncheck: item.checkResult != 1}"><label class="label-radio"><input type="radio" name="{{item.id}}" data-id="{{item.id}}" ng-disabled="manualTel.readOnly" ng-checked="item.checkResult == 1" value="1" />符合</label></div>
                            <div ng-class="{uncheck: item.checkResult != 0}"><label class="label-radio"><input type="radio" name="{{item.id}}" data-id="{{item.id}}" ng-disabled="manualTel.readOnly" ng-checked="item.checkResult == 0" value="0" />不符合</label></div>
                        </div>
                        <textarea name="" id="" class="result-comment" ng-readonly="manualTel.readOnly" placeholder="备注" cols="30" rows="10">{{item.checkReason}}</textarea>
                    </div>
                </li>
            </ul>
            <a class="question-add ml" ng-if="!manualTel.readOnly" ng-click="addQuestion($event)"><span class="glyphicon glyphicon-plus mr-s"></span>增加新问题</a>
        </tab>
        <tab heading="紧急联系人电话审核">
            <ul class="question-list" data-group="3">
                <li ng-repeat="item in manualTel.list3" class="item-question">
                    <h6>{{item.question}}</h6>
                    <p>答案：{{item.answer}}</p>
                    <div class="result mt">
                        <div class="result-select">
                            <div ng-class="{uncheck: item.checkResult != 1}"><label class="label-radio"><input type="radio" name="{{item.id}}" data-id="{{item.id}}" ng-disabled="manualTel.readOnly" ng-checked="item.checkResult == 1" value="1" />符合</label></div>
                            <div ng-class="{uncheck: item.checkResult != 0}"><label class="label-radio"><input type="radio" name="{{item.id}}" data-id="{{item.id}}" ng-disabled="manualTel.readOnly" ng-checked="item.checkResult == 0" value="0" />不符合</label></div>
                        </div>
                        <textarea name="" id="" class="result-comment" ng-readonly="manualTel.readOnly" placeholder="备注" cols="30" rows="10">{{item.checkReason}}</textarea>
                    </div>
                </li>
            </ul>
            <a class="question-add ml" ng-if="!manualTel.readOnly" ng-click="addQuestion($event)"><span class="glyphicon glyphicon-plus mr-s"></span>增加新问题</a>
        </tab>
        <tab heading="租房中介电话审核">
            <ul class="question-list" data-group="4">
                <li ng-repeat="item in manualTel.list4" class="item-question">
                    <h6>{{item.question}}</h6>
                    <p>答案：{{item.answer}}</p>
                    <div class="result mt">
                        <div class="result-select">
                            <div ng-class="{uncheck: item.checkResult != 1}"><label class="label-radio"><input type="radio" name="{{item.id}}" data-id="{{item.id}}" ng-disabled="manualTel.readOnly" ng-checked="item.checkResult == 1" value="1" />符合</label></div>
                            <div ng-class="{uncheck: item.checkResult != 0}"><label class="label-radio"><input type="radio" name="{{item.id}}" data-id="{{item.id}}" ng-disabled="manualTel.readOnly" ng-checked="item.checkResult == 0" value="0" />不符合</label></div>
                        </div>
                        <textarea name="" id="" class="result-comment" ng-readonly="manualTel.readOnly" placeholder="备注" cols="30" rows="10">{{item.checkReason}}</textarea>
                    </div>
                </li>
            </ul>
            <a class="question-add ml" ng-if="!manualTel.readOnly" ng-click="addQuestion($event)"><span class="glyphicon glyphicon-plus mr-s"></span>增加新问题</a>
        </tab>
    </tabset>
    <ul>
        <li id="tpl-question" class="tpl-html item-question question-custom">
            <h6><input type="text" class="form-control question-title" placeholder="请输入题目" /><i class="glyphicon glyphicon-remove q-remove"></i></h6>
            <div class="result mt">
                <div class="result-select">
                    <label class="label-radio"><input type="radio" name="q1" data-id="-1" value="1" />符合</label><br />
                    <label class="label-radio"><input type="radio" name="q1" data-id="-1" value="0" />不符合</label>
                </div>
                <textarea class="result-comment" placeholder="备注" cols="30" rows="10"></textarea>
            </div>
        </li> 
    </ul>
    <div class="row text-c mt" ng-if="!manualTel.readOnly">
        <button class="btn btn-primary w-200" ng-click="manualTelSubmit(1)">通过</button>
        <button class="btn btn-info ml-l w-200" ng-click="manualTelSubmit(2)">保存</button>
        <button class="btn ml-l w-200" ng-click="manualTelSubmit(0)">不通过</button>
    </div>
</tab>