<tab heading="人工验真"  select="manualInit()" disabled="applyInfo.checkStep < 3">
    <h4 ng-if="manual.checkRes.checkDesc">审核结果：<span ng-class="{green: manual.checkRes.checkResult == 1, red: manual.checkRes.checkResult == 2}">{{manual.checkRes.checkDesc}}</span></h4>
    <h4>数据验真<sub class="gray">（请将用户录入数据与系统标准数据进行对比）</sub></h4>
    <table class="table break-all" ng-class="{'read-only': manual.readOnly}" id="manual-table">
        <col width="140"/>
        <col width="370"/>
        <col width="180"/>
        <col width="300"/>
        <thead>
            <tr>
                <th>字段</th>
                <th>用户录入</th>
                <th>系统标准</th>
                <th>验证结果</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in manual.picItemList">
                <td>{{item.checkDesc}}</td>
                <td class="td-img">
                    <a ng-repeat="item in item.picList" href="/static-mana/img.html?img={{item|encodeURI}}" target="_blank"><img ng-src="{{item}}" alt="" /></a>
                    <a href="#/order/imgLog/{{item.picType}}/{{orderId}}" class="nowrap" target="_blank">历史图片</a>
                </td>
                <td class="td-img">
                    <a ng-repeat="item in item.sysPicList" href="/static-mana/img.html?img={{item|encodeURI}}" target="_blank"><img ng-src="{{item}}" alt="" /></a>
                </td>
                <td>
                    <div class="form-inline" data-id="{{item.id}}" data-checkid="{{item.checkId}}">
                        <label class="label-radio ml" ng-class="{uncheck: item.checkResult != 1}"><input type="radio" name="{{item.checkName}}" ng-disabled="manual.readOnly" ng-checked="item.checkResult == 1" value="1" /><i class="glyphicon glyphicon-ok-circle ml-s"></i></label>
                        <label class="label-radio ml" ng-class="{uncheck: item.checkResult != 0}"><input type="radio" name="{{item.checkName}}" ng-disabled="manual.readOnly" ng-checked="item.checkResult == 0" value="0" /><i class="glyphicon glyphicon-remove-circle ml-s"></i></label>
                        <label class="label-radio ml" ng-class="{uncheck: item.checkResult != 2}"><input type="radio" name="{{item.checkName}}" ng-disabled="manual.readOnly" ng-checked="item.checkResult == 2" value="2" />需要用户重新提交</label>
                        <input type="text" class="form-control w-200 ml" value="{{item.checkReason}}" ng-disabled="manual.readOnly" placeholder="备注" />
                    </div>
                </td>
            </tr>
            <tr ng-repeat="item in manual.checkList">
                <td>{{item.checkDesc}}</td>
                <td>{{item.compareValueUser}}</td>
                <td>{{item.compareValueSys}}</td>
                <td>
                    <div class="form-inline" data-id="{{item.id}}" data-checkid="{{item.checkId}}">
                        <label class="label-radio ml" ng-class="{uncheck: item.checkResult != 1}"><input type="radio" name="{{item.checkName}}" ng-disabled="manual.readOnly" ng-checked="item.checkResult == 1" value="1" /><i class="glyphicon glyphicon-ok-circle ml-s"></i></label>
                        <label class="label-radio ml" ng-class="{uncheck: item.checkResult != 0}"><input type="radio" name="{{item.checkName}}" ng-disabled="manual.readOnly" ng-checked="item.checkResult == 0" value="0" /><i class="glyphicon glyphicon-remove-circle ml-s"></i></label>
                        <input type="text" class="form-control w-200 ml" value="{{item.checkReason}}" ng-disabled="manual.readOnly" placeholder="备注" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-6">
            <h4>用户信息</h4>
            <table class="table">
                <tr ng-repeat="item in manual.systemRef.userTable">
                    <td>{{item.fieldName}}</td>
                    <td>{{item.fieldValue}}</td>
                    <td><a href="#{{item.linkUrl}}" target="_blank" ng-if="item.linkUrl">{{item.fieldExtra}}</a>
                        <span ng-if="!item.linkUrl">{{item.fieldExtra}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <h4>系统信息</h4>
            <table class="table">
                <tr ng-repeat="item in manual.systemRef.systemTable">
                    <td>{{item.fieldName}}</td>
                    <td>{{item.fieldValue}}</td>
                    <td><a href="#{{item.linkUrl}}" target="_blank" ng-if="item.linkUrl">{{item.fieldExtra}}</a>
                        <span ng-if="!item.linkUrl">{{item.fieldExtra}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <h4>人工验真批注</h4>
    <textarea class="form-control textarea" placeholder="关于本次验真的其他说明" ng-model="manual.checkRes.checkMemo" ng-readonly="manual.readOnly" rows="5"></textarea>
    <div class="row text-c mt" ng-if="!manual.readOnly">
        <button class="btn btn-primary w-200" ng-click="manualSubmit(1)">通过</button>
        <button class="btn ml-l w-200" ng-click="manualSubmit(0)">不通过</button>
        <button class="btn btn-warning ml-l w-200" ng-click="manualSubmit(2)">需要用户重新提交照片</button>
    </div>
</tab>