<div class="modal-header">
    <a href="javascript:void(0)" ng-click="$dismiss('cancel')" class="modal-close"></a>
    <h3 class="modal-title">修改密码</h3>
</div>
<form class="form-inline modify-agent-info" autocomplete="off" name="modifyPasswordForm">
    <div class="modal-body">
        <div class="form-group">
            <label for="old-password">旧密码</label>
            <input type="password" autocomplete="off" required ng-model="modify.password" class="form-control" id="old-password" >
        </div>
        <div class="form-group">
            <label for="new-password">新密码</label>
            <input type="password" required ng-model="modify.newPassword" class="form-control" id="new-password" >
        </div>
        <div class="form-group">
            <label for="new-password-confirm">确认新密码</label>
            <input type="password" required ng-model="modify.newPasswordConfirm" class="form-control" id="new-password-confirm" >
        </div>
    </div>
    <div class="modal-footer">
        <span class="error-info">{{errorInfo}}</span>
        <button class="btn btn-primary btn-submit"  ng-click="modifySubmit($event)" ng-disabled="modifyPasswordForm.$invalid" type="submit">确定</button>
        <button class="btn btn-cancel" ng-click="$dismiss('cancel')">取消</button>
    </div>
</form>