<div class="modal-header">
    <a href="javascript:void(0)" ng-click="$dismiss('cancel')" class="modal-close"></a>
    <h3 class="modal-title">请在RTX上联系裴秋楷，内容如下：</h3>
</div>
<form name="addConfigForm" novalidate  class="modify-agent-info">
    <div class="modal-body justify">
        {{message}}
    </div>

    <div class="modal-footer">
        <p class="error-info">{{errorInfo}}</p>
        <button class="btn btn-primary btn-submit" ng-disabled="note" ng-click="$dismiss('cancel')">确定</button>
    </div>
</form>