<div class="modal-header">
    <a href="javascript:void(0)" ng-click="$dismiss('cancel')" class="modal-close"></a>
    <h3 class="modal-title"></h3>
</div>
<form name="addConfigForm" novalidate  class="modify-agent-info">
    <div class="modal-body">
        <span class="message">{{hintData.message}}</span>
        <div ng-if="!showContractPdf" class="checkbox-wrap">
            <input type="checkbox" id="message1" ng-model="data.message1" ng-true-value="1" ng-false-value="0" value="{{data.message1}}"><label for="message1">{{hintData.message1}}</label>
        </div>
    </div>

    <div class="modal-footer">
        <p class="error-info" ng-if="errorInfo">{{errorInfo}}</p>
        <button class="btn btn-primary btn-submit" ng-click="submit()">确定</button>
        <!--<button class="btn btn-primary btn-submit" ng-if="!data.message1 || data.message1==0" ng-click="submit()">确定</button>-->
        <!--<button class="btn btn-primary btn-submit" ng-if="data.message1==1" ng-click="submitAll()">确定</button>-->
        <button class="btn" ng-click="$dismiss('cancel')">取消</button>
    </div>
</form>