<div class="modal-header">
    <a href="javascript:void(0)" ng-click="$dismiss('cancel')" class="modal-close"></a>
    <h3 class="modal-title">找回密码</h3>
</div>
<form name="addConfigForm" novalidate  class="modify-agent-info">
    <div class="modal-body">

        <div class="input-group first-group">
            <p style="text-align: center;padding-top: 10px;padding-left: 35px;" class="error-info">恭喜您，密码修改成功，请注意保存。</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-cancel" ng-click="$dismiss('cancel')" >关闭</button>
    </div>
</form>