
<div class="modal-header">
    <a href="javascript:void(0)" ng-click="$dismiss('cancel')" class="modal-close"></a>
    <h3 class="modal-title">您确定要拒绝？</h3>
</div>
<form name="addAgentCompanyForm" novalidate  class="modify-agent-info" autocomplete="off">
    <div class="modal-body">

        <div class="modal-group ">
            <label>理由：</label>
            <div class="list-filter-col">
                <textarea  class="form-control" placeholder="请输入" style="width: 150px;" ng-model="order.memo"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-submit" ng-click="submit()" type="submit">确定</button>
        <button class="btn btn-primary btn-cancel" ng-click="$dismiss('cancel')" >取消</button>
    </div>
</form>